#root {
  height: 100vh;
  width: 100vw;
}

.main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.nav {
  background-color: #006D77;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 1em;
  color: white;
}

.main-page {
  background-color: #83C5BE;
  width: 100vw;
  height: 100vh;
}

#page-title {
  padding-left: 1em;
}