#root {
  height: 100vh;
  width: 100vw;
}

.home, .main-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: #83C5BE;
  overflow-x: hidden;
  scrollbar-color: #006D77 white;
}

.nav {
  background-color: #006D77;
  width: 100vw;
  height: 10vh;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.links {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-link {
  padding: 1em;
  color: white;
}

.posts {
  border-radius: 5px;
  background-color: #006D77;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.filters {
  margin: 1em 0em;
  width: 85vw;
  display: flex;
  justify-content: left;
  align-items: center;
}

.filter-buttons {
  margin: 0em 1em;
  height: fit-content;
  background-color: #004B52;
}

.filter-buttons:hover {
  background-color: #EDF6F9;
  color: #004B52;
}

#page-title {
  padding-left: 1em;
}

#search {
  background-color: white;
  color: black;
  height: 4vh;
  width: 30vw;
  border-radius: 5px;
}